<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/libreriadb</property>
        <property name="connection.username">root</property>
        <property name="connection.password">mering-fightable-isomerises-rhizopods-panaches-panes</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping class="com.libreria.model.Autor"/>
        <mapping class="com.libreria.model.Editorial"/>
        <mapping class="com.libreria.model.Libro"/>
        <mapping class="com.libreria.model.Libreria"/>
        <mapping class="com.libreria.model.Empleado"/>
        <mapping class="com.libreria.model.Departamento"/>
        <mapping class="com.libreria.model.Proyecto"/>
        <mapping class="com.libreria.model.Direccion"/>
    </session-factory>
</hibernate-configuration>